@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Fraunces:wght@700&display=swap');

:root {
    --header-color: rgba(9, 29, 43, 0.712);
    --paragraph-color: hsla(0, 0%, 100%, 0.973);
    --graphic-design-color: #174f17e8;
    --graphic_desing_text: #023c18de;
    --photography_design_text: rgba(6, 54, 105, 0.911);
    --soft_red: hsl(7, 99%, 70%);
    --yellow: rgb(233, 233, 82);
    --footer_color: hsl(168, 51%, 73%);
    --logo : hsl(168, 34%, 41%);
    --footer_ul : hsl(168, 66%, 30%);
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 80vh;
    background: url(images/desktop/image-header.jpg) no-repeat center center/cover;
}

ul {
    display: flex;
    float: right;

}

.logo {
    display: inline-block;
    margin: 2vh 0 0 1vw;
}

li {
    font-family: 'Barlow', sans-serif;
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin: 2vh 0 0 2vw;
    cursor: pointer;

}

.contact {
    margin-right: 2vw;
    margin-left: 2vw;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 16px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}

.contact:hover {
    background-color: var(--header-color);
    cursor: pointer;
}

.text {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-size: 55px;
    margin-top: 9vh;
    margin-left: 6%;
    letter-spacing: 4px;
    color: white;
    text-align: center;
}

.arrow {
    margin-left: 49%;
    margin-top: 12vh;
}

.left {
    width: 50%;
    height: 80vh;
    display: inline-block;
    background-color: var(--paragraph-color);
}

h2 {
    font-family: 'Fraunces', serif;
    font-size: 65px;
    letter-spacing: 1px;
}

p.margin {
    margin-top: 4vh;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    margin-right: 7vw;
    line-height: 2.2vw;
    margin-bottom: 5vh;

}

.right {
    width: 50%;
    height: 80vh;
    float: right;
    background-image: url(images/desktop/image-transform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.column {
    display: flex;
}

.margin {
    margin-left: 10vw;
    margin-top: 15vh;
}


.learn {
    padding-bottom: 0px;
    text-transform: capitalize;
    font-family: 'Barlow', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    margin-left: 10vw;
    border-bottom: 6px solid var(--yellow);
}

.left_a {
    background-image: url(images/desktop/image-stand-out.jpg);
    background-size: cover;
    width: 50%;
    height: 80vh;
    display: inline-block;
    background-position: center;
}

.right_a {
    float: right;
    width: 50%;
    height: 80vh;
}

.left_less {
    margin-left: 5vw;
}

.red_bottom_b {
    border-bottom: 6px solid var(--soft_red)
}

.graphic {
    width: 50%;
    height: 75vh;
    display: inline-flex;
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photography {
    width: 50%;
    height: 75vh;
    float: right;
    background-image: url(images/desktop/image-photography.jpg);
    background-size: cover;
    background-position: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
    

h3 {
    font-family: 'Fraunces', serif;
    color: var(--graphic-design-color);
    text-align: center;
    font-size: 4vh;
    margin-top: 22%;
}
h3.different{
    display: inline-block;
    align-self: center;
}
.different {
    color: var(--header-color);

}

.section_text {
    font-family: 'Barlow', sans-serif;
    text-align: center;
    margin-left: 25%;
    margin-right: 20%;
    font-size: 2.2vh;
    line-height: 3vh;
    margin-top: 3vh;
}

.green {
    color: var(--graphic_desing_text);

}

.blue {
    color: var(--photography_design_text);
    margin-right: 21%;
    margin-left: 25%;
}

.last_part {
    width: 100%;
    height: 50vh;
}

h4 {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    color: rgb(156, 155, 155);
    letter-spacing: 8px;
    word-spacing: 5px;
    text-align: center;
    font-size: larger;
    margin-top: 15vh;
}

.section_d {
    display: flex;
    margin-top: 7vh;
    margin: 7vh 10%;
    margin-bottom: 10vh;
}

.client_image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-image: url(images/image-emily.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 4vh;
}

.Thomas {
    background-image: url(images/image-thomas.jpg);
    margin-top: 2%;
}

.Jennie {
    background-image: url(images/image-jennie.jpg);
    margin-top: 2%;
}

.client_review {
    font-family: 'Barlow', serif;
    word-spacing: 2px;
    text-align: center;
    font-size: 20px;
    height: 26%;
}

.mn {
    margin-right: 3vw;
}

h5 {
    margin-top: 6vh;
    font-family: 'Fraunces', serif;
    font-size: 25px;
    text-align: center;
}

h6 {
    font-family: 'Barlow', serif;
    font-size: 15px;
    text-align: center;
    color: rgb(131, 124, 124);
    font-weight: 400;
}

.pictures {
    display: flex;
    flex-wrap: wrap;

}

.picture_a {
    height: 55vh;
    width: 25%;
    margin-top: 10vh;
    background-image: url(images/desktop/image-gallery-milkbottles.jpg);
    background-size: cover;
    background-position: center;
}

.picture_b {
    height: 55vh;
    width: 25%;
    margin-top: 10vh;
    background-image: url(images/desktop/image-gallery-orange.jpg);
    background-size: cover;
    background-position: center;
}

.picture_c {
    height: 55vh;
    width: 25%;
    margin-top: 10vh;
    background-image: url(images/desktop/image-gallery-cone.jpg);
    background-size: cover;
    background-position: center;
}

.picture_d {
    height: 55vh;
    width: 25%;
    margin-top: 10vh;
    background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
    background-position: center;
}
footer{
    height: 40vh;
    width: 100%;
    background-color: var(--footer_color);
    display: flex;
    flex-direction: column;
}
.logo_footer{
    filter: invert(57%) sepia(5%) saturate(4704%) hue-rotate(118deg) brightness(83%) contrast(62%);
    margin: 8vh auto; 
    margin-bottom: 4vh;
}
.image_logo_footer{
    height: 3vh;
}
.footer{
    text-align: center;
    float: none;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: -1.5vh;
}
.footer li{
    color: var(--footer_ul);
    margin-right: 1.5vw;
}
.social_contact{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.footer_below{
    margin-right: 1vw;
}
.attribution{
    font-family: 'Barlow', serif;
    color: var(--footer_ul);
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger{
    visibility: collapse;
}
h2.margin.left_less{
    margin-top: 8%;
}
.ham{
    visibility: collapse;
}

@media (max-width:922px){
    .section_text{
        height: 0px;
    }
    h3{
        margin-top: 20%;
    }
    header{
        background-position: bottom;
    }
    .text{
        text-align: center;
        margin-left: 0;
    }
    .a{
        display: flex;
        flex-direction: column;
    }
    .right{
        width: 100%;
    }
    .left{
        width: 100%;
    }
    .b{
        display: flex;
        flex-direction: column;
    }
    .left_a{
        width: 100%;
    }
    .right_a{
        width: 100%;
    }
    .section_c{
        display: flex;
        flex-direction: column;
    }
    .graphic{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .photography{
        width: 100%;
        overflow: hidden;
    }
    .picture{
        width: 50%;
        margin-top: 0;
    }
    .section_d{
        display: flex;
        flex-direction: column;
    }
    .last_part{
        height:50%
    }
    .paragraph{
        line-height: 4.6vh;
        height: 20%;

    }
    p.margin{
        line-height: 4.6vh;
        text-align: center;
    }
    .picture{
        height: 35vh;
    }
    h2{
        text-align: center;
    }
    .learn{
        margin-left: 42%;
    }
    .left_a{
        background-image: url(images/mobile/image-stand-out.jpg);
    }
    .ham{
        visibility: collapse;
    }
    .dropdown{
        visibility: collapse;
    }
}
@media (max-height:570px){
    div.left{
        height: 120vh;
    }
    div.right_a{
        height: 120vh;
    }
    .graphic{
        height: 130vh;
    }
    .section_text{
        line-height: 5vh;
    }
    .photography{
        height: 130vh;
    }
    footer{
        height: 70vh;
    }
    header{
        height: 100vh;
    }
}
@media (max-width:603px){
    html, body {
        margin: 0;
        height: 100%;
        overflow-x: hidden;
    }
    header{
        background: url(images/mobile/image-header.jpg) no-repeat ;
    }
    .arrow{
        margin-top: 15vh;
    }
    .ham{
        float: right;
        visibility: visible;
        margin-top: 2vh;
        cursor: pointer;
        margin-right: 3vw;
    }

    ul{
        height: 49%;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        position: absolute;
        margin-left: 10%;
        background-color: white;
        left: 100vw;
        transition: left 1s;
        
    }
    ul li{
        color: black;
        align-self: center;
        margin-top: 5vh;
        font-size: 22px;
    }
    .contact{
        background-color: rgb(243, 186, 42);
        padding: 3vw 5vw ;
        border-radius: 17%;
        font-size: 23px;
        font-weight: 600;
        
    }
    header{
        background-position: bottom;
    }
    div.left_a{
        height: 30vh;
    }
    .right{
        height: 30vh;
    }

}


@media (max-width:479px){
    header{
        background-position: bottom;
    }
    .text{
        font-size: 50px;
    }
    .arrow{
        margin-top: 15vh;
    }
    p.margin{
        height: 50%;
    }
    h3{
        margin-top: 75%;
    }
    h3.different{
        margin-top: 75%;
    }
    .text::first-line{
        text-align: center;
    }
    
}
@media (max-width:419px){
    h2{
        font-size: 50px;
    }
    .graphic{
        background-image: url(images/mobile/image-graphic-design.jpg);
    }
    .photography{
        background-image: url(images/mobile/image-photography.jpg);
    }
     h3.different{
        margin-top: 27%;
    }
    h2.margin{
        margin-top: 5vh;
        font-size: 38px;
    }
    .learn{
        position: relative;
        top: 21vh;
        left: -8vw;
        font-size: 23px;
    }
    h3{
        margin-top: 25%;
    }
    header{
        height: 80%;
    }
    p.margin{
        height: 36%;
    }
}
@media (max-width:365px){
    header{
        height: 100vh;
    }
    .text{
        font-size: 40px;
    }
    
    .learn{
        margin-top: 0;
        margin-bottom: 2vh;
    }
    .section_text{
        font-size: 21px;
    }
    h3{
        font-size: 35px;
    }
    header{
        height: 84vh;
    }
}
.nav-active{
    left: 0vw;
}
